.button, .link{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 30px 0px rgba(254,159,16,.2);
    a{
        color: inherit;
        text-decoration: none;
    }
&__outline{
    background-color: $red-color;
    border-color: $red-color;
    color: white;
    &:hover{
       background-color: rgb(137,1,1);
    }
}
&__inline{
    background-color: transparent;
    border-color: $yellow-color;
    color: $yellow-color;
    border: 1px solid $yellow-color;
    &:hover{
        background-color: $yellow-color;
        color: white;
    }

}



}

a{
    text-decoration: none;
    color: inherit;
}

.input-error{
    border-color:red !important;
}
.error-text{
    color:red !important;
    font-size: 14px;
    text-align: left;
}

.notifications {
    position: absolute;
    top: $main-padding;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    z-index: 5000;
    opacity: 0; /* Initialement invisible */
    transform: translateY(-20px); /* Déplacement vers le haut */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition sur l'opacité et le déplacement */
    
    &__message {
      color: white;
      font-size: 14px;
    }
  
    &.show {
      opacity: 1; /* Rendre visible */
      transform: translateY(0); /* Revenir à la position d'origine */
    }
  }
  @include responsive('mobile'){
    .notifications{
        top: 0;
    }
  }

  .custom-shape-divider-bottom-1731570127 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731570127 svg {
    position: relative;
    display: block;
    width: calc(263% + 1.3px);
    height: 138px;
}

.custom-shape-divider-bottom-1731570127 .shape-fill {
    fill: #FFFFFF;
}