.button, .link{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 30px 0px rgba(254,159,16,.2);
    a{
        color: inherit;
        text-decoration: none;
    }
&__outline{
    background-color: $yellow-color;
    border-color: $yellow-color;
    color: white;
}
&__inline{
    background-color: transparent;
    border-color: $yellow-color;
    color: $yellow-color;
    border: 1px solid $yellow-color;
    &:hover{
        background-color: $yellow-color;
        color: white;
    }

}



}

a{
    text-decoration: none;
    color: inherit;
}
