.mySwiper {
    width: 100% !important;}
.table{
    @include menu;
    &__body{
        padding: 40px $main-padding  $main-padding;
    }
    &__row{
        margin-bottom: 85px;
        ul{
            list-style: none;
            padding: 0;
        }
    }
    &__item{
        padding: 14px;
        height: 200px;
        border: 1px solid #e2e2e2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        align-self:flex-end;
        // box-shadow:inset 0px 15px 55px rgba(34, 34, 34, 0.1);
        h3{
            font-weight: 600;
            font-size: 18px;
        }
        p{
            margin-top: 12px;
            font-size: 14px;
            color: #222;
        }
    }
    &__price{
        color: $yellow-color;
        font-weight: bold;
    }
   

    &__main{
        font-size: 30px;
        // font-weight: bold;
        color: $yellow-color;
        margin-bottom: 20px;
        font-family: "Lobster";
    }
   @include title;
  

}
@include responsive('mobile'){
    .table{
        &__header{
            width: 100%;
            height: 50vh;
        }
        &__container{
            flex-direction: column;
        }
        &__body{
            padding: 20px $respo-padding 0 $respo-padding;
    
        }
        &__wrapper{

            h1{
                font-size: 36px;
            }
        }
    }
}