.table{
    padding: $main-padding;
    &__header{
        width: 100% !important;
        // display: flex;
        // justify-content: space-between;
    }
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        border: 1px solid #e2e2e2;
        width: fit-content;
        padding: 10px;
        position: relative;
        input{
            border: none;
            outline: none;
            border-radius: 5px;
            width: 100%;
            font-size: 14px;	
            &::placeholder{
                color: #e2e2e2;
                font-size: 14px;
            }
        }
        
    }
    &__categories{
        width: 100% !important;
        margin-top: 30px;
       
    }
}