.myOrder{
    padding: $main-padding;
    &__up{
        position: relative;
        width: calc(100% + #{$main-padding * 2}); // Compense les paddings gauche et droite
        margin-left: -$main-padding; // Annule le padding gauche
        margin-right: -$main-padding; // Annule le padding droit
        padding: 0; // Supprime tout padding de cet élément
        height: 25vh;
        background-color: $yellow-color;
        &--text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: $main-padding;
            z-index: 100;
            p{
                font-size: 14px;
                line-height: 1.2;
                &:first-child{
                    color: #222;
                }
                &:last-child{
                    color: $green-color;
                    display: none;
                }
                
                
            }
        }
        @include responsive("mobile") {
            width: calc(100% + #{$respo-padding * 2});
            margin-left: -$respo-padding;
            margin-right: -$respo-padding;
            &--text{
                padding: $respo-padding;
                p{
                    &:last-child{
                        display: block;
                    }
                }
            }
            

          }
    }
    &__body{
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        gap: 80px;

    }
    &__box{
        width: 45%;
        border: 1px solid #e2e2e2;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    &__bottom{
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--price{
            font-weight: bold;
            font-size: 16px;
        }
    }
    &__container{
        display: flex;

        margin-top: 10px;
        gap: 12px;
        &--quantity{
            font-weight: bold;
        }
        &--name{
            font-weight: 500;
        }

    }
    &__menu{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}


.orderDetails{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__up{
        position: relative;
        height: 10vh;
        h3{
position: relative;
            z-index: 1;
        }
    }
    h4{
        font-size: 18px;
    }
    &__container{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 14px;
        &--quantity{
            font-weight: bold;
        }
        &--name{
            font-weight: 500;
        }
    }
    &__wrapper{
        display: flex;
        gap: 12px;
    }
    &__title{
        margin-top: 30px;
    }
    &__address{
        margin-top: 12px;
        div{
            display: flex;
            gap: 12px;
        }
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 14px;
        color: #222;
    }
    &__recap{
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        color: #222;
        &--wrapper{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    
}