.myOrder{
    padding: $main-padding;
    &__up{
        position: relative;
        width: calc(100% + #{$main-padding * 2}); // Compense les paddings gauche et droite
        margin-left: -$main-padding; // Annule le padding gauche
        margin-right: -$main-padding; // Annule le padding droit
        padding: 0; // Supprime tout padding de cet élément
        height: 25vh;
        background-color: $yellow-color;
        &--text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: $main-padding;


            
            
            z-index: 100;
            p{
                font-size: 14px;
                line-height: 1.2;
                &:first-child{
                    color: #222;
                }
                &:last-child{
                    color: $green-color;
                    display: none;
                }
                
                
            }
        }
        @include responsive("mobile") {
            width: calc(100% + #{$respo-padding * 2});
            margin-left: -$respo-padding;
            margin-right: -$respo-padding;
            &--text{
                padding: $respo-padding;
                p{
                    &:last-child{
                        display: block;
                    }
                }
            }
            

          }
    }
}